{{!-- <h2>lista que trabajara con websocket </h2>
<h3>cada vez que creemos o eliminemos el producto debe actualizar automaticamente </h3> --}}

{{!-- Habilita la conexión del cliente con eñ servidor  --}}
<script src="/socket.io/socket.io.js"></script>  
<script src="js/index.js"></script>
