{{!-- <h2>lista que trabajara con websocket </h2>
<h3>cada vez que creemos o eliminemos el producto debe actualizar automaticamente </h3> --}}

<h1>Crear Productos </h1>
<form id="form">
    <input type="text" id="title" placeholder="Ingrese un Título" required>
    <input type="text" id="description" placeholder="Ingrese Descripción" required>
    <input type="text" id="code" placeholder="Ingrese Código" required>
    <input type="number" id="price" placeholder="Ingrese el precio" required>
    <input type="number" id="stock" placeholder="Ingrese el stock" required>
    <input type="text" id="category" placeholder="Ingrese la categoria" required>

    <input type="submit" id="submit" value="AGREGAR">
</form>

<legend>Lista de Productos </legend>
<p id="products"></p>



 
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>

